* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background: #e8e8e8;
  color: #333;
}

h1 {
  /* border: 2px solid red; */
  color: #2C3E50;
  background: #fff;
  margin: 10px 20px;
  border-radius: 10px;
  font-size: 3.5em;
  padding: 7px;
  text-align: center;
}

#main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

input {
  font-size: 1.2em;
  border-style: none;
  border: 2px solid #000000;
  border-radius: 7px;
  padding: 5px 15px;
  margin: 10px;
  outline: none;
  background: transparent;
}

input::placeholder {
  color: black;
}

.container {
  /* border: 2px solid red; */
  border-radius: 15px;
  background: #FFFFFF;
  width: 100%;
  height: 80vh;
  /* padding: 10px; */
  margin: 20px;
  overflow: hidden;
}

.container h2 {
  font-size: 1.5em;
}

#search {
  overflow-y: scroll;
  scrollbar-width: none;
}

#search h2 {
  text-align: center;
  padding: 10px;
}

#searchheader {
  z-index: 10;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: #fff;
}

#search form {
  text-align: center;
}

#search ul {
  padding: 10px;
  z-index: -10;
}

#search ul li {
  text-transform: capitalize;
  list-style: none;
  /* border: 2px solid #D3D3D3; */
  background: #dedede;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  margin-bottom: 10px;
}

#editin {
  background: transparent;
  text-decoration: none;
  width: 200px;
  border: 1px solid;
}

#editin::placeholder {
  color: black;
  font-size: 0.9em;
}

#upload {
  padding: 10px;
}

#upload h2 {
  text-align: center;
  margin-bottom: 10px;
}

#upload form {
  text-align: center;
}

#deletepng {
  background: none;
  text-decoration: none;
  border-style: none;
}

#symbols {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 15px;
}

.btn-2 {
  background: #004dff;
  background: linear-gradient(0deg, #004dff 0%, #1E90FF 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
#file {
  border-style: none;
  font-size: 1em;
}

#newsong {
  margin: 10px;
}
#newsong label {
  font-size: 1.2em;
  position: relative;
  left: 80px;
  font-weight: bold;
}

#newsong input {
  padding: 0;
  margin: 0;
  position: relative;
  left: 80px;
  
}

#editbut {
  height: 25px;
  width: 60px;
  padding: 0;
}

/* From Uiverse.io by TheAbieza */ 
.dj {
  margin: 30px 200px;
  width: 320px;
  height: 320px;
  background-color: #87CEFA;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 0 0 #675D50;
}

.plate {
  width: fit-content;
}

.plate .black,
.plate .white,
.plate .center,
.plate .border {
  border-radius: 100%;
}

.dj,
.plate .black,
.plate .white,
.plate .border {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate .black {
  width: 150px;
  height: 150px;
  background-color: #675D50;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.plate .white {
  width: 70px;
  height: 70px;
  background-color: #F3DEBA;
}

.plate .center {
  width: 20px;
  height: 20px;
  background-color: #675D50;
}

.plate .border {
  width: 111px;
  height: 111px;
  border-top: 3px solid #F3DEBA;
  border-bottom: 3px solid #F3DEBA;
  border-left: 3px solid #675D50;
  border-right: 3px solid #675D50;
}
